In [ ]:
data = {'A':[1,2,np.nan, 4, 5],
        'B':[6, np.nan, 8, 9, 10],
        'C':[11, 12, 13, np.nan, 15]}
df = pd.DataFrame(data)
df

In [ ]:
df.dropna(inplace=True)
df

In [ ]:
data = {'A':[1,2,np.nan, 4, 5],
        'B':[6, np.nan, 8, 9, 10],
        'C':[11, 12, 13, np.nan, 15]}
df = pd.DataFrame(data)
df

In [ ]:
df.fillna(df.mean()) # Llenando los NaN por medias

In [ ]:
df.query("B > 7")

In [ ]:
df.query("A>1 and B>7")

In [ ]:
df.query("A*2 > 4")