In [4]:
import pandas as pd

data = {'apples': [3, 2, 1, 0], 'orange': [0, 3, 7, 2]}
df = pd.DataFrame(data, index=['Ali', 'Rashed', 'Hamza', 'Ahmed'])
df

        apples  orange
Ali          3       0
Rashed       2       3
Hamza        1       7
Ahmed        0       2

In [5]:
df.loc['Ali']

apples    3
orange    0
Name: Ali, dtype: int64

In [6]:
import pandas as pd

data = {'row_1': [3, 2, 1, 0], 'row': ['a', 'b', 'c', 'd']}
df = pd.DataFrame.from_dict(data, orient='index')
df

       0  1  2  3
row_1  3  2  1  0
row    a  b  c  d