In [6]:
import numpy as np
import pandas as pd 

data = {'A':[1,2,np.nan, 4, 5],

    'B':[6, np.nan, 8, 9, 10],

    'C':[11, 12, 13, np.nan, 15]}

df = pd.DataFrame(data)

df

     A     B     C
0  1.0   6.0  11.0
1  2.0   NaN  12.0
2  NaN   8.0  13.0
3  4.0   9.0   NaN
4  5.0  10.0  15.0

In [7]:
df.isnull()

       A      B      C
0  False  False  False
1  False   True  False
2   True  False  False
3  False  False   True
4  False  False  False

In [8]:
df.isnull().sum()

A    1
B    1
C    1
dtype: int64

df.dropna()

In [ ]:
df